{namespace mvcextjs=Tx_MvcExtjs_ViewHelpers} 
<mvcextjs:null>{startPage}</mvcextjs:null>    

<div class="typo3-fullDoc">
	<!-- Page header with buttons, path details and csh -->
	<div id="typo3-docheader">
		<div id="typo3-docheader-row1">
			<div class="buttonsleft"><div class="buttongroup"><mvcextjs:null>{CSH}{SAVE}</mvcextjs:null></div></div>
			<div class="buttonsright"><div class="buttongroup"><mvcextjs:null>{SHORTCUT}</mvcextjs:null></div></div>
		</div>
		<div id="typo3-docheader-row2">
			<div class="docheader-row2-left"><div class="docheader-funcmenu"><mvcextjs:null>{FUNC_MENU}</mvcextjs:null></div></div>
			<div class="docheader-row2-right"><mvcextjs:null>{PAGEPATH}{PAGEINFO}</mvcextjs:null></div>
		</div>
	</div>
	<!-- Content of module, for instance listing, info or editing -->
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
		 	<h1>{title}</h1>
			<p>Welcome in the OldStyle backend module!<br />Looks like Standard, but is an Extbase driven module :)</p>	
		</div>
	</div>
</div>
<mvcextjs:null>{endPage}</mvcextjs:null> 