{namespace ext=Tx_MvcExtjs_ViewHelpers}
<ext:Be.moduleContainer
	pageTitle="ExtDirectModule"
	enableJumpToUrl="false"
	enableClickMenu="false"
	loadPrototype="true"
	loadScriptaculous="true"
	loadExtJs="true"
	loadExtJsTheme="false"
	extJsAdapter="prototype"
	concatenate="false"
	compressJs="false"
	enableExtJsDebug="true">
	
	<ext:includeCssFile name="chat.css" pathInsideExt="Resources/Public/CSS/" />
	
	<ext:includeJsFile name="ux.TYPO3.MvcExtjs.DirectFlashMessageDispatcher.js" extKey="mvc_extjs" />
	<ext:includeJsFile name="ux.TYPO3.MvcExtjs.FlashMessagesTabPanel.js" extKey="mvc_extjs" />
	<ext:includeJsFile name="ux.TYPO3.MvcExtjs.UriBuilder.js" extKey="mvc_extjs" />
	<ext:includeJsFile name="ExtDirect/Component/ChannelList.js" />
	<ext:includeJsFile name="ExtDirect/Component/ChannelFormWindow.js" />
	<ext:includeJsFile name="ExtDirect/Component/ChannelPanel.js" />
	<ext:includeJsFile name="ExtDirect/Chat.js" />
	
	<ext:includeDirectApi namespace="MvcExtjsSamples.ExtDirect.Remote" cache="false"/>
	
	<ext:jsCode.jsonReader domainModel="Channel" />
	<ext:jsCode.columnDefinition
		domainModel="Channel"
		hiddenColumns="{0:'messages',1:'_localizedUid',2:'_languageUid'}" />
	
	<ext:includeExtOnReadyFromFile name="ExtDirect/ExtOnReady.js" />
</ext:Be.moduleContainer>
