.x-btn-text-icon .t3-icon-connect {
	background-image: url(../Icons/connect.png);
}
.x-btn-text-icon .t3-icon-disconnect {
	background-image: url(../Icons/disconnect.png);
}
.x-btn-text-icon .t3-icon-channel-add {
	background-image: url(../Icons/comment_add.png);
}
.x-btn-text-icon .t3-icon-refresh {
	background-image: url(../Icons/arrow_refresh_small.png);
}
.x-btn-text-icon .t3-icon-channels {
	background-image: url(../Icons/comments.png);
}
.x-btn-text-icon .t3-icon-join {
	background-image: url(../Icons/door_in.png);
}
.x-btn-text-icon .t3-icon-tick {
	background-image: url(../Icons/tick.png);
}